@import url(../header/logo_place_header/logo_place_header.css);
@import url(../header/header__main-illustration/header__main-illustration.css);
@import url(../header/header__title/header__title.css);
@import url(../header/header__subtitle/header__subtitle.css);
@import url(../header/header__square-pic/header__square-pic.css);
@import url(../header/header__link/header__link.css);
header{
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }