@import url(../two-columns/two-columns_brief/two-columns__brief.css);
@import url(../two-columns/two-columns_main-text/two-columns__main-text.css);
@import url(../two-columns/two-columns_paragraph/two-columns__paragraph.css);
.two-columns {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
   }